.izdelek {
    /*height: 100px;*/
    text-decoration: none;
}

.izdelek img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    /*mex-height: 100px;*/
/*    position: absolute;
    top: 0;
    left: 0;*/
    /*min-width: 100%;*/
    height: 150px;
    /*max-width: none;*/
}

.navbar-brand {
    font-size: 30px;
}

/* za ocene */
.ocenaDIV {
  border: 0;
  float: left;
  position: relative;
  width: 300px;
} 
.ocenaSlika {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 } 
@media (min-width:34em) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial; 
    }
}